<% layout('layouts/boilerplate') %>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to WanderLust</h1>
    <p class="lead">Explore amazing listings and start your adventure today.</p>
    <a class="btn btn-primary btn-lg" href="/listings" role="button">Browse Listings</a>
  </div>
</div>